@import url('../../public-style/main.css');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.posts__container{
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  
}
.categories__aside{
  width: 30%;
  
}
.posts__container__main{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  position: relative;
  
}
.posts_search{
  width: 100%;
  /* position: sticky;
  top: 3%; */
}
.search__input__field{
height: 3rem;
width: 90%;
position: relative;
margin: 0 auto;
}
.search__input__field input{
height: 100%;
width: 100%;
background: none;
outline: none;
border: none;
background-color: var( --font-background);
box-shadow: 
5px 5px 30px   var(--shadow-color),
-5px -5px 30px   var(--shadow-color);
padding-left: 3.3rem;
border-radius: 0.5rem;
font-size: 1.2em;
z-index: 20;
}
.search__input__field button{
  height: 2.8rem;
  width: 2.8rem;
  background: none;
  outline: none;
  border: none;
  background-color: var( --font-background);
  box-shadow: 
  5px 5px 30px   var(--shadow-color),
  -5px -5px 30px   var(--shadow-color);
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  border-radius: 0.3rem;
  z-index: 11;
}


.posts__section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section_1{

  position: sticky;
  top: 25%;
}
.section_2{
  top: 3.3%;

  position: sticky;
}
.categories__section{
  width: 95%;

  background-color: var( --font-background);
  box-shadow: 
  5px 5px 30px   var(--shadow-color),
  -5px -5px 30px   var(--shadow-color);
  margin: 1rem auto 0;
  min-height: 4rem ;
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.add__post,.section__cat{
  width: 100%;
  background-color: var( --font-background);
  box-shadow: 
  5px 5px 30px   var(--shadow-color),
  -5px -5px 30px   var(--shadow-color);
  height: 2.5rem;
  text-align: center;
  vertical-align: middle;
  padding: 0.3rem 0;
  margin: 0.3rem 0;
  border-radius: 0.3rem;
}

.add__post{
/* margin-bottom: 1rem; */
}

@media (max-width:1024px){
  .posts__container{
    flex-direction: column;
    width: 95%;
    margin: 1rem auto  1rem auto;
    position: relative;
  }
  .categories__aside{
    width: 100%;
    
  }
  
  .posts__container__main{
    width: 100%;
    margin-bottom: 6rem;
    
  }
  .posts__section{
    width: 100%;

    
  }
  .categories__section{
    margin: 1rem  auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: unset;
  }
  .section__cat{
    padding: 0.6rem 0;
    width: 24%;
  }
  .section__cat h2{
    font-size: 0.8em;
  }
  .add__post{
    width: 45%;
    
  }
}
@media (max-width:600px){

  .categories__section{
    margin: 1rem auto ;
  }
  .posts__container{
    margin: 0;
    width: 100%;
  }
  .section__cat{
    width: 45%;
  }
  .add__post h2{
    font-size: 1em;
    
  }
}